<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 定义一个UserService的Bean -->
    <bean id="xmlImportService" class="com.liguo.demo.core.study.beanLoadType.ImportResource.XmlImportService">
        <constructor-arg value="liguo"/>
        <!--<property name="name" value="John Doe"/>-->
    </bean>
</beans>